@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 350px 4fr;
    grid-template-rows: max-content 1fr;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style-type: none;
}

.header {
    grid-column: 2;
    border-bottom: 2px solid rgba(0, 0, 0, 0.16)
}

.side {
    grid-row: 1 / span 2;
    background-color: #1f92d4;
    color: white;
    display: grid;
    grid-auto-rows: max-content;
    grid-template-rows: repeat(auto-fit, );
    font-weight: 500;
    gap: 3rem;
    padding: 2rem;
}

h1 {
    font-size: 2rem;
}

.side-svg {
    height: 40px;
    filter: invert()
}

.side-logo {
    font-size: 1.3rem;
    padding-left: 0.4rem;
}

.search-section>img,
#ring {
    height: 30px;
    aspect-ratio: 1;
    padding: 0.2rem;
}

.main-logo {
    height: 80px;
    filter: invert();
}

.logo {
    color: white;
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}

.utilities>*,
.config>* {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: left;
    gap: 1rem;
}

.utilities,
.config {
    display: grid;
    gap: 1rem;
}

.up {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr max-content;
    padding: 1rem 2rem;
    gap: 10rem;
}

.profile {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 1.5rem;
    font-weight: 500;
}

.search-section {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 1rem;
    grid-template-columns: max-content 1fr;
}

.profile-pic {
    aspect-ratio: 1;
    border-radius: 50%;
    height: 50px;
}

input {
    background-color: #dfe7ef;
    border: none;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
}

.search-section>img:hover,
#ring:hover {
    border-radius: 2rem;
    background-color: #dfe7ef;
}


#big-profile-pic {
    aspect-ratio: 1;
    border-radius: 50%;
    height: 100px;
}

.down {
    display: grid;
    grid-auto-flow: column;
    padding: 0 3rem 2rem 3rem;
    grid-template-columns: 1fr max-content;
    box-shadow: rgba(0, 0, 0, 0.35) 200px 199px 200px;
}

.big-profile {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content 1fr;
    gap: 2rem;
    align-items: center;
}

.nav {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    gap: 1rem;
}

.nav>li>a {
    text-decoration: none;
    color: white;
}

.nav>li {
    padding: 0.5rem 2rem;
    background-color: #1f92d4;
    border-radius: 2rem;
    justify-self: stretch;
    text-align: center;
}

.card-icon>img {
    height: 25px;
}

.content {
    background-color: #dfe7ef;
    display: grid;
    grid-template: max-content max-content / 1fr 350px;
    gap: 2rem;
    padding: 2rem;
}

.projects {
    grid-row: 1 / 3;
}

.projects>h3 {
    margin-bottom: 1rem;
}

.card {
    border-left: 5px solid #e9ae2c;
    padding: 1rem;
    border-radius: 5px;
    background-color: white;
    display: grid;
    height: 225px;
    grid-template-rows: max-content 1fr max-content;
    gap: 0.5rem;
    line-height: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card-icon {
    justify-self: right;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
}

.card-title+p {
    color: grey;
}

.cards-holder {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.card-title {
    font-weight: bold;
}

.announcement-content {
    display: grid;
    background-color: white;
    padding: 2.5rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.announcement-title {
    font-weight: bold;
}

.announcement-title+p {
    color: grey;
}

.announcements>h3 {
    margin-bottom: 1rem;
}

.announcement-content> :nth-child(-n+2) {
    border-bottom: 1px solid rgb(182, 182, 182);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.trending-profile {
    height: 50px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
    grid-row: 1 / 3;
    margin-right: 1.5rem;
}

.trending-content {
    background-color: white;
    display: grid;
    gap: 1rem;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.trending-content>div {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr 1fr;
}

.trending-content>div> :nth-child(2) {
    font-weight: bold;
    align-self: end;
    padding-bottom: 4px;
}

.trending-content>div> :nth-child(3) {
    color: grey;
}

.trending>h3 {
    margin-bottom: 1rem;
}